/* In the name of God */
/* This Code Was Created By @MatinShahriari */
/* 2025/02/28 to 2025/02/30 !!! 2025/03/20 -- 12:20PM */
@font-face {
    font-family: "ComingSoon-Regular";
    src: url(../fonts/ComingSoon-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "TitanOne-Regular";
    src: url(../fonts/TitanOne-Regular.ttf);
}